/*start top menu*/

.top-menu {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 16px;
  ul {
    li {
      display: inline-block;
      margin-left: 40px;
      a{
        font-size: 1.2em;
        text-decoration: none;
        border-bottom: 2px dashed;
      }
    }
  }
}


/*end top menu*/


/******************/