.button-pink {
  box-shadow: inset 0px -3px 0px 0px #d54442;
  background-color: #ff6b6b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0;
  border: 1px solid #d54442;
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  height: 50px;
  line-height: 1.2em;
  width: 100px;
  text-decoration: none;
  text-align: center;
  width: 180px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-pink:hover {
  background-color: #dd4a47;
  box-shadow: inset 0px -3px 0px 0px #c0403e;
}

.button-pink:active {
  position: relative;
  top: 1px;
}
.button-blue{
  border: 1px solid #3792d6;
  border-radius: 4px;
  background-color: transparent;
  display: inline-block;
  color: #3792d6;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  height: 50px;
  line-height: 1.2em;
  width: 235px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &.active{
   box-shadow: inset 0px -3px 0px 0px #0a77c2;   
    background-color: #3792d6;
    color: #fff;
  }
}
