{% extends './../layouts/master.html' %} {% block content %}
<!--start component service-block-->
<div class="service-block first-block">
  <div class="container">
    <div class="item-list">
      <!--foreach $arResult-->
      {% for item in serviceFirstBlock%}
      <div class="item">
        <img src="{{ item.img }}" alt="">
        <div class="name">
          {{ item.name }}
        </div>
        <div class="price-block">
          <span class="price">От {{ item.price }}</span>
          <a href="" title="Подробнее">Подробнее</a>
        </div>
        <div class="button-block">
          <button class="button-pink">Заказать</button>
        </div>
      </div>
      {% endfor %}
      <!--end foreach-->
    </div>
  </div>
</div>
<!--end component service block-->

<!--start component what is list-->
<div class="what-is">
  <div class="container">
    <h2 class="comp-header">Что такое «Техническое описание <br>объекта недвижимости»</h2>
    <div class="comp-text">
      Техническое описание объекта недвижимости - это документ, содержащий исчерпывающую информацию об объекте <br>недвижимости, его фактическом состоянии и характеристиках. Техническое описание заменило технический паспорт объекта<br> недвижимости. Техническое описание объекта недвижимости необходимо в следующих случаях:
    </div>
    <div class="list">
      <!--foreach $arResult-->
       {% for item in whatis %}
       <div class="item">
        <img src="{{ item.img }}" alt="">
        <div class="name">
          {{ item.name }}
        </div>
       </div>
       {% endfor %}
      <!--endforeach-->
    </div>
    <div class="text-center">
      <img src="./images/soc-block.png" alt="">
    </div>
  </div>
</div>
<!--end component what is lsit-->

<!--start component service-block-->
<div class="service-block second-block">
  <div class="container">
    <div class="item-list">
      <!--foreach $arResult-->
      {% for item in serviceFirstBlock%}
      <div class="item">
        <img src="{{ item.img }}" alt="">
        <div class="name">
          {{ item.name }}
        </div>
        <div class="price-block">
          <span class="price">От {{ item.price }}</span>
          <a href="" title="Подробнее">Подробнее</a>
        </div>
        <div class="button-block">
          <button class="button-pink">Заказать</button>
        </div>
      </div>
      {% endfor %}
      <!--end foreach-->
    </div>
  </div>
</div>
<!--end component service block-->

<!--start component example-->

<!--end component example-->
{% endblock %}