{% extends './../layouts/master.html' %} {% block content %}
<div class="order-form">
  <div class="left-col"><img src="./images/flat.png" alt=""></div>
  <div class="form-content text-center">
    <h1>Техническое описание квартиры</h1>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error alias, quo debitis ex soluta explicabo deleniti fuga, esse eaque nemo fugit! Repudiandae ab dolor voluptas voluptatem, eligendi modi suscipit distinctio.
    </div>
    <div class="properties">
      <h2>Стоймость изготовления технического описания</h2>
      <div class="prop-list">
        <div class="table-row">
          <div class="table-cell">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime expedita accusamus similique tempore ipsa dolores, quaerat eos. Facilis asperiores velit
            <div class="descr">Без замерки (есть готовый план)</div>
          </div>
          <div class="table-cell">
            <span class="price">990 <span class="ruble">Р</span></span>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime expedita accusamus similique tempore ipsa dolores, quaerat eos. Facilis asperiores velit
          </div>
          <div class="table-cell">
            <span class="price">990 <span class="ruble">Р</span></span>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime expedita accusamus similique tempore ipsa dolores, quaerat eos. Facilis asperiores velit
          </div>
          <div class="table-cell">
            <span class="price">990 <span class="ruble">Р</span></span>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime expedita accusamus similique tempore ipsa dolores, quaerat eos. Facilis asperiores velit
          </div>
          <div class="table-cell">
            <span class="price">990 <span class="ruble">Р</span></span>
          </div>
        </div>
      </div>
        <div class="row text-center">
          <button class="button-pink">Заказать</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}