<div class="container">
  <!--start bottom menu-->
  <div class="bottom-menu">
    <ul>
      <li><a href="#" title="Личный кабинет">Личный кабинет</a></li>
      <li><a href="#" title="Базовые документы">Базовые документы</a></li>
      <li><a href="#" title="Конструктор документов">Конструктор документов</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
    </ul>
    <ul>
      <li><a href="#" title="Архив документов">Архив документов</a></li>
      <li><a href="#" title="Настройки">Настройки</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
    </ul>
    <ul>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
      <li><a href="#" title="Пункт меню">Пункт меню</a></li>
    </ul>
  </div>
  <!--end bottom menu-->
</div>
<div class="bottom-wrapper">
  <div class="container">
    <div class="coop">Гипердок 2016</div>
    <div class="create-by">Разработка интелект сервис</div>
  </div>
</div>