<div class="top-line-wrapper">
  <div class="top-line"></div>
</div>
<div class="header-wrapper">
  <div class="container">
    <!--panel if max size 980px-->
    <div class="mobile-panel">
      <div class="m-phone-number">
        8 861 233-34-567
      </div>
    </div>
    <!--end panel-->
    <div class="logo col top-block">
      <a href="/" title="Гипердов"><img src="./images/logo.png" alt="Гипердок"></a>
    </div>
    <div class="top-center top-block">
      <div class="slogan col">
        <span>Изготовление технического описания
объекта недвижимости</span>
      </div>
      <div class="top-user-menu-wrapper col">
        <div class="top-user-menu">
          <a href="#" title="#">
            <!--if not image-->
            <!--<i class="user-ico"></i>-->
            <!--end if-->
            <div class="table-row">
              <div class="table-cell avatar-cell">
                <i class="user-avatar" style="background-image:url(../images/bender.png)"></i>
              </div>
              <div class="table-cell">
                <div class="user-name"> Иванов А.В</div>
              </div>
              <div class="table-cell arrow-cell">
                <i class="user-top-arrow"></i>
              </div>
            </div>
          </a>
          <ul>
            <li>
              <a href="/auth-index.html" title="#">Авторизация</a>
            </li>
          </ul>
        </div>
        <div class="phone-number">
          <span>8 861 123-456-78</span>
        </div>
      </div>
    </div>
    <!--start component top menu-->
    <div class="top-menu top-block">
      <ul>
        <li><a href="" title="">Что это такое?</a></li>
        <li><a href="" title="">Пример документа</a></li>
        <li><a href="" title="">Как заказать?</a></li>
      </ul>
    </div>
    <!--end component top menu-->
  </div>
</div>