////for left user menu
@mixin left-menu-after-ico($width, $height, $sprite) {
  &:after {
    display: block;
    content: "";
    height: $width;
    width: $height;
    position: absolute;
    right: 15px;
    top: 33%;
    @include sprite($sprite);
  }
}
@mixin table-cell($height) {
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  height: $height;
}
@mixin left-menu-after-ico($width, $height, $sprite) {
  &:after {
    display: block;
    content: "";
    height: $width;
    width: $height;
    position: absolute;
    right: 15px;
    top: 33%;
    @include sprite($sprite);
  }
}
@mixin button-bg($bg, $bg2) {
  background: $bg;
  border-left: 1px solid $bg2;
  border-top: 1px solid $bg2;
  border-right: 1px solid $bg2;
  border-bottom: 7px solid $bg2;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    color:#fff;
  }
  &:active {
    background:darken($bg,25%);
    color:#fff;
  } 
}
@mixin clearfix(){
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}

