$ic-left-arrow-name: 'ic-left-arrow';
$ic-left-arrow-x: 0px;
$ic-left-arrow-y: 58px;
$ic-left-arrow-offset-x: 0px;
$ic-left-arrow-offset-y: -58px;
$ic-left-arrow-width: 9px;
$ic-left-arrow-height: 17px;
$ic-left-arrow-total-width: 106px;
$ic-left-arrow-total-height: 75px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (0px, 58px, 0px, -58px, 9px, 17px, 106px, 75px, '../images/sprite.png', 'ic-left-arrow', );
$ic-maestro-hover-name: 'ic-maestro-hover';
$ic-maestro-hover-x: 0px;
$ic-maestro-hover-y: 0px;
$ic-maestro-hover-offset-x: 0px;
$ic-maestro-hover-offset-y: 0px;
$ic-maestro-hover-width: 53px;
$ic-maestro-hover-height: 32px;
$ic-maestro-hover-total-width: 106px;
$ic-maestro-hover-total-height: 75px;
$ic-maestro-hover-image: '../images/sprite.png';
$ic-maestro-hover: (0px, 0px, 0px, 0px, 53px, 32px, 106px, 75px, '../images/sprite.png', 'ic-maestro-hover', );
$ic-maestro-name: 'ic-maestro';
$ic-maestro-x: 53px;
$ic-maestro-y: 0px;
$ic-maestro-offset-x: -53px;
$ic-maestro-offset-y: 0px;
$ic-maestro-width: 53px;
$ic-maestro-height: 32px;
$ic-maestro-total-width: 106px;
$ic-maestro-total-height: 75px;
$ic-maestro-image: '../images/sprite.png';
$ic-maestro: (53px, 0px, -53px, 0px, 53px, 32px, 106px, 75px, '../images/sprite.png', 'ic-maestro', );
$ic-right-arrow-name: 'ic-right-arrow';
$ic-right-arrow-x: 9px;
$ic-right-arrow-y: 58px;
$ic-right-arrow-offset-x: -9px;
$ic-right-arrow-offset-y: -58px;
$ic-right-arrow-width: 9px;
$ic-right-arrow-height: 17px;
$ic-right-arrow-total-width: 106px;
$ic-right-arrow-total-height: 75px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (9px, 58px, -9px, -58px, 9px, 17px, 106px, 75px, '../images/sprite.png', 'ic-right-arrow', );
$top-user-arrow-ico-hover-name: 'top-user-arrow-ico-hover';
$top-user-arrow-ico-hover-x: 60px;
$top-user-arrow-ico-hover-y: 32px;
$top-user-arrow-ico-hover-offset-x: -60px;
$top-user-arrow-ico-hover-offset-y: -32px;
$top-user-arrow-ico-hover-width: 20px;
$top-user-arrow-ico-hover-height: 11px;
$top-user-arrow-ico-hover-total-width: 106px;
$top-user-arrow-ico-hover-total-height: 75px;
$top-user-arrow-ico-hover-image: '../images/sprite.png';
$top-user-arrow-ico-hover: (60px, 32px, -60px, -32px, 20px, 11px, 106px, 75px, '../images/sprite.png', 'top-user-arrow-ico-hover', );
$top-user-arrow-ico-name: 'top-user-arrow-ico';
$top-user-arrow-ico-x: 80px;
$top-user-arrow-ico-y: 32px;
$top-user-arrow-ico-offset-x: -80px;
$top-user-arrow-ico-offset-y: -32px;
$top-user-arrow-ico-width: 20px;
$top-user-arrow-ico-height: 11px;
$top-user-arrow-ico-total-width: 106px;
$top-user-arrow-ico-total-height: 75px;
$top-user-arrow-ico-image: '../images/sprite.png';
$top-user-arrow-ico: (80px, 32px, -80px, -32px, 20px, 11px, 106px, 75px, '../images/sprite.png', 'top-user-arrow-ico', );
$user-ico-hover-name: 'user-ico-hover';
$user-ico-hover-x: 0px;
$user-ico-hover-y: 32px;
$user-ico-hover-offset-x: 0px;
$user-ico-hover-offset-y: -32px;
$user-ico-hover-width: 30px;
$user-ico-hover-height: 26px;
$user-ico-hover-total-width: 106px;
$user-ico-hover-total-height: 75px;
$user-ico-hover-image: '../images/sprite.png';
$user-ico-hover: (0px, 32px, 0px, -32px, 30px, 26px, 106px, 75px, '../images/sprite.png', 'user-ico-hover', );
$user-ico-name: 'user-ico';
$user-ico-x: 30px;
$user-ico-y: 32px;
$user-ico-offset-x: -30px;
$user-ico-offset-y: -32px;
$user-ico-width: 30px;
$user-ico-height: 26px;
$user-ico-total-width: 106px;
$user-ico-total-height: 75px;
$user-ico-image: '../images/sprite.png';
$user-ico: (30px, 32px, -30px, -32px, 30px, 26px, 106px, 75px, '../images/sprite.png', 'user-ico', );
$spritesheet-width: 106px;
$spritesheet-height: 75px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-left-arrow, $ic-maestro-hover, $ic-maestro, $ic-right-arrow, $top-user-arrow-ico-hover, $top-user-arrow-ico, $user-ico-hover, $user-ico, );
$spritesheet: (106px, 75px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
