$ic-left-arrow-name: 'ic-left-arrow';
$ic-left-arrow-x: 0px;
$ic-left-arrow-y: 37px;
$ic-left-arrow-offset-x: 0px;
$ic-left-arrow-offset-y: -37px;
$ic-left-arrow-width: 9px;
$ic-left-arrow-height: 17px;
$ic-left-arrow-total-width: 60px;
$ic-left-arrow-total-height: 54px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (0px, 37px, 0px, -37px, 9px, 17px, 60px, 54px, '../images/sprite.png', 'ic-left-arrow', );
$ic-right-arrow-name: 'ic-right-arrow';
$ic-right-arrow-x: 9px;
$ic-right-arrow-y: 37px;
$ic-right-arrow-offset-x: -9px;
$ic-right-arrow-offset-y: -37px;
$ic-right-arrow-width: 9px;
$ic-right-arrow-height: 17px;
$ic-right-arrow-total-width: 60px;
$ic-right-arrow-total-height: 54px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (9px, 37px, -9px, -37px, 9px, 17px, 60px, 54px, '../images/sprite.png', 'ic-right-arrow', );
$top-user-arrow-ico-hover-name: 'top-user-arrow-ico-hover';
$top-user-arrow-ico-hover-x: 0px;
$top-user-arrow-ico-hover-y: 26px;
$top-user-arrow-ico-hover-offset-x: 0px;
$top-user-arrow-ico-hover-offset-y: -26px;
$top-user-arrow-ico-hover-width: 20px;
$top-user-arrow-ico-hover-height: 11px;
$top-user-arrow-ico-hover-total-width: 60px;
$top-user-arrow-ico-hover-total-height: 54px;
$top-user-arrow-ico-hover-image: '../images/sprite.png';
$top-user-arrow-ico-hover: (0px, 26px, 0px, -26px, 20px, 11px, 60px, 54px, '../images/sprite.png', 'top-user-arrow-ico-hover', );
$top-user-arrow-ico-name: 'top-user-arrow-ico';
$top-user-arrow-ico-x: 20px;
$top-user-arrow-ico-y: 26px;
$top-user-arrow-ico-offset-x: -20px;
$top-user-arrow-ico-offset-y: -26px;
$top-user-arrow-ico-width: 20px;
$top-user-arrow-ico-height: 11px;
$top-user-arrow-ico-total-width: 60px;
$top-user-arrow-ico-total-height: 54px;
$top-user-arrow-ico-image: '../images/sprite.png';
$top-user-arrow-ico: (20px, 26px, -20px, -26px, 20px, 11px, 60px, 54px, '../images/sprite.png', 'top-user-arrow-ico', );
$user-ico-hover-name: 'user-ico-hover';
$user-ico-hover-x: 0px;
$user-ico-hover-y: 0px;
$user-ico-hover-offset-x: 0px;
$user-ico-hover-offset-y: 0px;
$user-ico-hover-width: 30px;
$user-ico-hover-height: 26px;
$user-ico-hover-total-width: 60px;
$user-ico-hover-total-height: 54px;
$user-ico-hover-image: '../images/sprite.png';
$user-ico-hover: (0px, 0px, 0px, 0px, 30px, 26px, 60px, 54px, '../images/sprite.png', 'user-ico-hover', );
$user-ico-name: 'user-ico';
$user-ico-x: 30px;
$user-ico-y: 0px;
$user-ico-offset-x: -30px;
$user-ico-offset-y: 0px;
$user-ico-width: 30px;
$user-ico-height: 26px;
$user-ico-total-width: 60px;
$user-ico-total-height: 54px;
$user-ico-image: '../images/sprite.png';
$user-ico: (30px, 0px, -30px, 0px, 30px, 26px, 60px, 54px, '../images/sprite.png', 'user-ico', );
$spritesheet-width: 60px;
$spritesheet-height: 54px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-left-arrow, $ic-right-arrow, $top-user-arrow-ico-hover, $top-user-arrow-ico, $user-ico-hover, $user-ico, );
$spritesheet: (60px, 54px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
